<% provide(:title, 'Home') %>

<div class="center hero-unit">
	
<h1>The Hive</h1>

<h2>Hey Stingers, this is The Hive.  An interactive resource for all things related to our soccer club.
</h2>

<%= link_to "Buzz in!", signup_path, class: "btn btn-large btn-primary" %>

</div>


